<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8" />
<link type="text/css" rel="stylesheet" href="/layui/css/layui.css"/>
<script type="text/javascript" src="/gomobile/2/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript">
layui.use('laydate', function(){
	layui.laydate({
		elem: $("#mydata")[0], 
		festival: true,
		fixed: true,
		event:'load'
		})
	
})
</script>
</head>
<body >
	<div id="mydata"></div>

</body>
</html>