<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<link rel="apple-touch-icon" href="/gomobile/2/images/apple-touch-icon.png" />
<link rel="apple-touch-startup-image" href="/gomobile/2/images/apple-touch-startup-image-320x460.png" />
<meta name="author" content="FamousThemes" />
<meta name="description" content="GoMobile - A next generation web app theme" />
<meta name="keywords" content="mobile web app, mobile template, mobile design, mobile app design, mobile app theme, mobile wordpress theme, my mobile app" />
<title>仿GoMobile触屏版html5响应式手机app网站模板下载经典-pppf.taobao.com整理搜集仅用于学习</title>
<link type="text/css" rel="stylesheet" href="/gomobile/2/css/style.css"/>
<link type="text/css" rel="stylesheet" href="/gomobile/2/colors/medical/medical.css"/>
<link type="text/css" rel="stylesheet" href="/gomobile/2/css/idangerous.swiper.css"/>
<link type="text/css" rel="stylesheet" href="/gomobile/2/css/swipebox.css"/>

<style type="text/css">
	*{font-family:微软雅黑;}
	.textp{
	border-bottom: 1px #ddd dashed;
	 text-indent:2em; 
	width: 100%;
 	margin:0px;padding:0px;
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;}
    .titlep{
    	font-weight:bold;
    	margin:0px;padding:0px;
    }
    .portfolio_image{text-align: center}
    .portfolio_image img{margin-bottom: 7px;}
    .style_a{
    	margin-right:20px;
    }
   .style_a2{font-size: 15px;}
  
</style>
</head>
<body>


  <div id="header">
      <div class="gohome"><a href="/pages/toEquipmentList"><img src="/gomobile/2/images/icons/home.png" alt="" title="" /></a></div>
      <div class="gomenu">
      <a href=""  th:if="${session.loginInfo!=null?true:false}"><img src="/gomobile/2/images/icons/about.png" alt="" title="" /></a>
      <a href="/pages/toLogin"  th:if="${session.loginInfo==null?true:false}">登录</a>
      </div>
  </div>

      <div class="swiper-container swiper-parent">
    <div class="swiper-wrapper">

      <div class="swiper-slide sliderbg ">
      <div class="swiper-container swiper-nested4">
               <div class="swiper-wrapper">
                    <div class="swiper-slide">
                              <div class="slide-inner">
                                        <div class="pages_container">
                                        <h2 class="page_title">设备列表</h2>
                                        <div class="toogle_wrap">
                                            <div class="trigger"><a href="#">条件筛选</a></div>
                                            <div class="toggle_container" style="display:none">
                                            <form action="">
                                            <ul class="listing_detailed">
                                            <li><span>学科：</span><span><input id="subjectName" /></span></li>
                                            <li><span>类型：</span><span><input id="typeName"/></span></li>
                                            </ul>
                                            <a  href="#" th:each="model:${deptListTop10}" th:inline="text" onclick='changeBg(this)' class="button_13 green green_borderbottom">
                                            [[${model['name']}]]
                                            <input type="hidden" name="deptid"  th:value="${model['ID']}"/>
                                            </a>
											<a  href="javascript:void(0)" onclick="moreDept(this)" th:if="${deptList!=null and !deptList.isEmpty()}" style="float:left;margin-top:10px;">更多...</a>
											 <a href="#" onclick="getData(this.parentNode)" class="button_14 bluegreen bluegreen_borderbottom">搜　索</a>
                                            </form>
                                            </div>
                                        </div>
                                        <div class="portfolio_item" id="formdiv" style="display: none">
                                        <div style="position:relative;height: 20px;width:100%;text-align: right;margin-top: -10"><a href="javascript:void(0)" onclick="$('#formdiv').hide()">关闭</a></div>
                                        	<form>
                                        	<input type="hidden" id="equipmentid" name="equipmentid" />
											<p class="textp" >项目名称：<input type="text" name="projectname" style="width:80%;height:30px;border:1px solid #f4f4f4;"/></p>
											<p class="textp" >项目类型：
											<select name="projecttypecode"  style="width:80%;height:30px;border:1px solid #f4f4f4;">
												<option th:each="model:${projecttype}" th:value="${model['code']}" th:text="${model['name']}"></option>
											</select>
											</p>
											
											<p class="textp" >　项目人：<input type="text" name="projectmanager"  th:value="${session.loginInfo!=null?session.loginInfo['name']:''}"  disabled="disabled"  style="width:80%;height:30px;border:1px solid #f4f4f4;"/></p>
											
											<p class="textp" >预约类型：
											<select name="appointmentType"  style="width:80%;height:30px;border:1px solid #f4f4f4;">
												<option value="自主上机">自主上机</option>
												<option value="委托上机">委托上机</option>
											</select>
											</p>
											<p class="textp" >开始时间：<input name="begintime" id="begintime" style="width:80%;height:30px;border:1px solid #f4f4f4;"/></p> 
											<p class="textp" >结束时间：<input name="endtime" id="endtime" style="width:80%;height:30px;border:1px solid #f4f4f4;"/></p> 
											<p class="textp" >使用功能：
												<select name="useTypeCode"  style="width:80%;height:30px;border:1px solid #f4f4f4;">
													<option th:each="model:${useTypeCode}" th:value="${model['code']}" th:text="${model['name']}"></option>
												</select>
											</p>  
											<p class="textp" >样口名称：<input name="samplename" style="width:80%;height:30px;border:1px solid #f4f4f4;"/></p>
											<p class="textp" >样口数量：<input name="samples" style="width:80%;height:30px;border:1px solid #f4f4f4;"/></p>
											<p class="textp" >　操作人：<input type="text" name="handler" style="width:80%;height:30px;border:1px solid #f4f4f4;"/></p>
											<p class="textp" >　　备注：<textarea name="com_remark"  rows="" cols="" style="width:80%;height:60px;border:1px solid #f4f4f4;"></textarea>
											</p>
											<a href="#" class="button_12 green green_borderbottom" onclick="toSubmit()" >提交</a>
											<a href="#" class="button_12 green green_borderbottom" >重置</a>
											</form>
                                        </div>
                                        <div class="clearfix"></div>
      									<div class="scrolltop"><a href="#" class="scrolltop4"><img src="/gomobile/2/images/icons/top.png" alt="Go on top" title="Go on top" /></a></div>
                                        </div>
                                        
                                        <!--End of page container-->
                              </div>
                    </div>
              </div>
              <div class="swiper-scrollbar4"></div>
     </div>
     </div>
     
 
      <!--Page 6 content-->
     
  <div class="pagination"></div>
  </div>
  
  </div>
<script type="text/javascript" src="/gomobile/2/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/gomobile/2/js/jquery.swipebox.js"></script>
<script type="text/javascript" src="/gomobile/2/js/idangerous.swiper-2.1.min.js"></script>
<script type="text/javascript" src="/gomobile/2/js/idangerous.swiper.scrollbar-2.1.js"></script>

<script type="text/javascript" src="/gomobile/2/js/code.js"></script>
<script type="text/javascript" src="/gomobile/2/js/load.js"></script>

<script type="text/javascript"  th:inline="javascript">
	var isLogin= /*[[${session.loginInfo!=null?true:false}]]*/;
	/* <![CDATA[*/
	var otherDept= /*[[${deptList}]]*/
	function toSubmit(){
		
		$.post("/appointment/ajaxSubmit",$("#formdiv form").serializeArray(),function(data){
			if(data.retCode==1){
				alert(data.retMsg);
				$("#formdiv").slideUp("fast",function(){
					swiperNested4.reInit();
					swiperNested4.swipeTo(0);
				});
			}else if(data.retCode==10000){
				location.href=data.jumpurl;
			}else{
				alert(data.retMsg);
			}
		},"JSON")
	}
	function moreDept(obj){
		var deptsObj=eval("("+otherDept+")");
		
		for(var i=0;i<deptsObj.length;i++)
		{
			$(obj).before("<a  href='#'  class='button_13 green green_borderbottom' onclick='changeBg(this)'>"+deptsObj[i].name+"<input type='hidden' name='deptid'' value='"+deptsObj[i].ID+"'/></a>");
		}
		$(obj).remove();
		swiperNested4.reInit();
	}
	function changeBg(obj){
		var hasGreen=$(obj).hasClass("green");
		var blueobjs=$("a.blue");
		if(blueobjs.length>0){
			blueobjs.removeClass("blue");
			blueobjs.removeClass("blue_borderbottom");
			blueobjs.addClass("green");
			blueobjs.addClass("green_borderbottom");
		}
		
		if(hasGreen){
			$(obj).removeClass("green");
			$(obj).removeClass("green_borderbottom");
			$(obj).addClass("blue");
			$(obj).addClass("blue_borderbottom");
		}
	}
	$(function(){
		getData();
		var currentDate=new Date();
		var curr = currentDate.getFullYear();
		var opt = {}
		opt.date = {preset : 'date'};
		
		
		opt.datetime = { preset : 'datetime', minDate: new Date(curr-1,currentDate.getMonth()+1,currentDate.getDate(),currentDate.getHours(),currentDate.getMinutes()), maxDate: new Date(2046,7,30,15,44), stepMinute: 5  }
		opt.time = {preset : 'time'};
		opt.tree_list = {preset : 'list', labels: ['Region', 'Country', 'City']};
		opt.image_text = {preset : 'list', labels: ['Cars']};
		opt.select = {preset : 'select'};
		$('#begintime,#endtime').val('').scroller('destroy').scroller($.extend(opt['datetime'], { theme: 'default', mode: 'scroller', display: 'modal', lang:'zh' }));		
	})

	var pageNum;
	var pageSize;
	function getData(formid){
		var params=null;
		if(formid!=undefined){
			$(".portfolio_item").remove();
			params={
				subjectName:$("#subjectName").val(), 
				typeName:$("#typeName").val(),
				deptid:$("a.blue").length>=0?$("a.blue input").eq(0).val():null
			}
		}
		$.post("/equipment/ajaxList",params,function(data){
			pageNum=data.nextPageNo;
			
			for(var i=0;i<data.result.length;i++){
				var itemhtml='<div class="portfolio_item" id="item'+i+'">';
				itemhtml+='<div class="portfolio_image"><a rel="gallery-1" href="http://202.116.161.6:8180/equimis/inlineStream.action?path=';
				
				itemhtml+=data.result[i].PATH+'&contentType='+data.result[i].CONTENTTYPE;
				itemhtml+='" class="swipebox" title="Webdesign work"><img src="http://202.116.161.6:8180/equimis/inlineStream.action?path=';
				itemhtml+=data.result[i].PATH+'&contentType='+data.result[i].CONTENTTYPE;
				itemhtml+='" alt="" title="" border="0" /></a><a href="#" class="style_a style_a2" onclick="toAppointment(this,\''+data.result[i].eid+'\')">预约</a><a href="/pages/toEquipmentCircs"  target="_blank" class="style_a2" >预约情况</a></div>';
				itemhtml+='<div class="portfolio_details comment_row2"><h4>'+data.result[i].ename+'</h4>';
				itemhtml+='<p class="titlep">编号：</p>';
				itemhtml+='<p class="textp">'+data.result[i].ecode+'</p>';
				itemhtml+='<p class="titlep">设备型号：</p>';
				itemhtml+='<p class="textp">'+data.result[i].emodel+'</p>';
				itemhtml+='<p class="titlep">仪器介绍：</p>';
				itemhtml+='<p class="textp">'+data.result[i].DESCRIPTION+'</p>';
				itemhtml+='</div><a href="#" class="ext" onclick="getDataById(this)" eid="'+data.result[i].eid+'" style="float:right">更多...</a></div>';
				$(".clearfix").before(itemhtml);
			}
			swiperNested4.reInit();
			
			
		},"JSON")
	}
	function toAppointment(obj,eid){
		if(!isLogin){
			 location.href="/pages/toLogin"
			return ;
		}
		 swiperNested4.swipeTo(0);
		 $("#formdiv").slideToggle("fast",function(){
			 $("#formdiv #equipmentid").val(eid);
			 swiperNested4.reInit();
		 });
	}
	function getDataById(obj){
		$(obj).text("收起...");
		obj.onclick=function(){
			var nobj=$(this);
			nobj.prev().slideUp("false",function(){
				nobj.prev().remove();
				swiperNested4.reInit();
			});
			nobj.text("更多...");
			this.onclick=function(){
				getDataById(this);
			}
		}
		var prevobj=$(obj);
		$.post("/equipment/ajaxInfo",{id:obj.getAttribute("eid")},function(data){
			
			var itemhtml='<div class="ext" style="display:none">';
			itemhtml+='<p class="titlep">仪器规格：</p>';
			itemhtml+='<p class="textp">'+data.SPECIFICATION+'</p>';
			itemhtml+='<p class="titlep">技术参数：</p>';
			itemhtml+='<p class="textp">'+data.PARAMETERS+'</p>';
			itemhtml+='<p class="titlep">主要配件：</p>';
			itemhtml+='<p class="textp">'+data.ACCESSORIES+'</p>';
			itemhtml+='<p class="titlep">主要功能及用途：</p>';
			itemhtml+='<p class="textp">'+data.MAINFUNCTION+'</p>';
			itemhtml+='<p class="titlep">使用实例：</p>';
			itemhtml+='<p class="textp">'+data.USEEXAMPLES+'</p>';

			itemhtml+='<p class="titlep">收费标准：</p>';
			itemhtml+='<p class="textp">'+data.FEES+'</p>';
			itemhtml+='<p class="titlep">所属学院：</p>';
			itemhtml+='<p class="textp">'+data.CREATOR+'</p>';
			itemhtml+='<p class="titlep">仪器价格：</p>';
			itemhtml+='<p class="textp">'+data.PRICE+'</p>';
			itemhtml+='<p class="titlep">生产厂商：</p>';
			itemhtml+='<p class="textp">'+data.VENDOR+'</p>';
			itemhtml+='<p class="titlep">存放地点：</p>';
			itemhtml+='<p class="textp">'+data.LOCATION+'</p>';
			itemhtml+='<p class="titlep">所属学科：</p>';
			itemhtml+='<p class="textp">'+data.sname+'</p>';
			itemhtml+='<p class="titlep">应用邻域：</p>';
			itemhtml+='<p class="textp">'+data.COUNTRY+'</p>';
			itemhtml+='<p class="titlep">是否收费：</p>';
			itemhtml+='<p class="textp">'+(data.ISFORFREE?"是":"否")+'</p>';
			itemhtml+='<p class="titlep">负责人信息：</p>';
			itemhtml+='<p class="textp">姓名-'+data.MANAGER+'　电话-'+data.MANAGERPHONE+'　邮箱-'+data.MANAGEREMAIL+'</p></div>';
			prevobj.before(itemhtml);
			$(obj).prev().slideDown("normal",function(){
				swiperNested4.reInit();
				location.href=location.href.replace("#","")+"#"+$(obj).parent().attr("id");
			});
			
		},"JSON");
	}
	/* ]]>*/
</script>
</body>
</html>
